<!DOCTYPE html>
<html  ng-app="Studentprofile" >
<title>Student Functionality</title>

<head>
<meta name="description" content="">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {margin: 0;}
ul.topnav{
	list-style-type: none; margin: 0; padding: 0; top :0; width: 100%;
	position: fixed; overflow: hidden; background-color: #333;
}
ul.topnav li {float: left;}
ul.topnav li a {
	display: block; color: white; text-align: center;
	padding: 14px 16px; text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.active {
	font-color :white; font-size :25px;	background-color: #000000;
}
ul.topnav li.right {
	font-color :white; font-size :20px; padding-top: 3px;
	background-color: #000000; float: right;
}
ul.topnav li.center {
	color :white; padding-top: 8px;
	padding-left: 500px; font-size :30px;
}/*
@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {float: none;}
}*/
body {
	/background: url("images/dashboard.jpg");/
	background-repeat: no-repeat; background-size: cover;
	height : 100%; width : 100%;
	font-family: "Lato", sans-serif;
}
.sidenav {
	height: 100%; width: 18%; position: fixed; z-index: 1;
	top: 63   ; color: white; left: 0; background-color: #3081C8;
	overflow-x: hidden; padding-top: 20px;
}
.othernav{
	height:100%;; width:82%; position:fixed;
}
.sidenav a {
	padding: 6px 6px 6px 32px; text-decoration: none;
	font-size: 25px;color: #FFFFFF; display: block;
}
.sidenav a:hover {
	color: #f1f1f1;
}
.main {
	margin-top: 75px; margin-left: 200px;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
#nam {
		font-size: 27px; text-align: center;
}
.split {
  height: 100%; position: fixed;
  z-index: 1; top: 0; overflow-x: hidden;padding-top: 20px;
}

.left {left: 0;}
.right {right: 0;}
.anch a:hover, a:active{
    text-decoration: none;
    display: inline-block;
    color: black;

}
.input100 {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 22px;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px;
}

h4{font-size:25px; font-family: calibri;}
.ViewAchievements th{
	border: 2px solid black;
	padding:5px;
	font-family: calibri;
	font-size:20px;
	text-align: center;

}
.ViewAchievements td {
	border: 2px solid black;
	padding:5px;
	font-family: calibri;
	font-size:18px;
	font-decoration:none;
	margin : 10px;

}
.ViewAchievements table {
	border: 2px solid black;
}

.grid-container {
		  display: grid;
		  grid-row-gap: 50px;
		  grid-column-gap:50px;
		  grid-template-columns: auto auto ;
		  padding: 20px;
		}

.grid-item {

		  padding: 10px;
		  font-size: 30px;
		  text-align: center;
		}


</style>

</head>

<header>
<div class="header" id="myHeader">
		 <ul class="topnav">
				<li class="center">Student Functionality </li>

			</ul>
</div>
</header>

<body ng-app="">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<div class="sidenav split left anch" >
			<img src="peclogo.png" width="250px" height="250px" style="margin: 0px 10px";>
			<br><br><br>
			<a ng-click="Background=false; ViewMarks=false; ViewProfile= true ;UpdateProfile= false; ViewAchievements = false;  RequestInitiation =false;" >View Profile</a>
			<a ng-click="Background=false;ViewMarks=false;ViewProfile= false;UpdateProfile= true; ViewAchievements = false;  RequestInitiation =false;">Update Profile</a>
			<a ng-click="Background=false;ViewMarks=false;ViewProfile= fasle ;UpdateProfile= false; ViewAchievements = true;  RequestInitiation =false;">View Achievements</a>
			<a ng-click="Background=false;ViewMarks=true;ViewProfile= fasle ;UpdateProfile= false; ViewAchievements = false;  RequestInitiation =false;">View Marks</a>
			<a ng-click="Background=false;ViewMarks=false;ViewProfile= false ;UpdateProfile= false; ViewAchievements = false;  RequestInitiation =true;" >Request Initiation</a>
			<a href ="/logout">Logout</a>
		</div>

		<div class="othernav split right" ng-init="Background=true">
		<br><br><br>
		<div ng-if="Background" style="padding:10px 10px 10px 40px">

		</div>

		<div ng-if="ViewProfile" style="padding:10px 10px 10px 40px">
			<h2 ><u>Student Profile </u></h2>
			<h3 style="font-size:25px; font-family: calibri;">
			<table style="width:50%; margin-left:10%" >
			<tr>
			  <td>SID :</td>
			  <td><input style="border:0px" type="text"  class="input100"  name="SID" value="<%= data.SID %>" disabled></td>
			</tr>

			<tr>
			  <td>Name :</td>
			  <td> <input style="border:0px;" type="text"  class="input100"  name="Name" value="<%= data.name %>"disabled></td>
			</tr>

			<tr>
			  <td>Father's Name :</td>
			  <td> <input type="text" style="border:0px;" class="input100" name="Father's Name" value="<%= data.father_name %>" disabled></td>
			</tr>

			<tr>
			  <td>Address :</td>
			  <td> <textarea rows = "3" cols = "30"  style="border:0px;" class="input100"  name="Address" disabled><%= data.address %></textarea></td>
			</tr>

			<tr>
			  <td>Email :</td>
			  <td><input style="border:0px;" type="email" name="Email"  class="input100" value="<%= data.email %>" disabled></td>
			</tr>

			<tr>
			  <td>Mobile Number :</td>
			  <td> <input style="border:0px;" type="text"  class="input100" name="Mobile Number" value="<%= data.Mobile %>" disabled></td>
			</tr>

			<tr>
			  <td>UG_PG :</td>
			  <td><input style="border:0px;" type="text"  class="input100" name="UG_PG" value="<%= data.UG_PG %>" disabled></td>
			</tr>

			<tr>
			  <td>Branch :</td>
			  <td> <input style="border:0px;" type="text"  class="input100" name="Branch"  value="<%= data.Branch %>" disabled></td>
			</tr>

			<tr>
			  <td>Year :</td>
			  <td><input style="border:0px;" type="text"  class="input100" name="Year" value="<%= data.Year %>" disabled></td>
			</tr>

			<tr>
			  <td >CGPA :</td>
			  <td > <input style="border:0px;" type="text"  class="input100" name="CGPA" value="<%= data.CGPA %>" disabled></td>
			</tr>

			<tr>
			  <td>Backlog :</td>
			  <td> <input style="border:0px;" type="text"  class="input100" name="Backlog"  value="<%= data.backlog %>" disabled></td>
			</tr>

			<tr rowspan=2>
			  <td>Disciplinary Action <br> taken against you :</td>
			  <td><input style="border:0px;" type="text"  class="input100" name="Disciplinary" value="<%= data.disciplinary %>" disabled></td>
			</tr>

			</table>
			</div>

		<div ng-if="UpdateProfile"  style="padding:10px 10px 10px 40px"
	 ng-init="Email='<%= data.email %>'; Mobile='<%= data.Mobile %>'; Year='<%= data.Year %>';
	 CGPA='<%= data.CGPA %>';Backlog='<%= data.backlog %>';address='<%= data.address %>'" >
			<h2 ><u>Update Profile </u></h2>
			<h3 style="font-size:25px; font-family: calibri;">
			<form name="UpdateProfile" ng-model="UpdateProfile" action="/UpdateStProfile" method="POST">
			<table style="width:70%; margin-left:10%" >
			<tr>
			  <td style="width:35%">SID:</td>
			  <td style="width:40%"> <input type="text" style="background:#dddddd;" class="input100"   name="SID" value="<%= data.SID %>" disabled></td>
			  <td></td>
			</tr>

			<tr>
			  <td>Name:</td>
			  <td> <input type="text"  class="input100"   name="Name" style="background:#dddddd;"  value="<%= data.name %>" disabled></td>
			  <td></td>
			</tr>

			<tr>
			  <td>Father's Name:</td>
			   <td> <input type="text" style="background:#dddddd;" class="input100"   name="Father_Name"
					 value="<%= data.father_name %>" disabled></td>
			   <td></td>
			</tr>

			<tr>
			  <td>Address:</td>
			  <td> <textarea name ="address" ng-model="address" rows="3" class="input100" ></textarea></td>
			  <td></td>
			</tr>

			<tr>
			  <td>Email:</td>
			  <td><input type="email" name="Email"  class="input100"  required ng-model="Email"></td>
			  <td> <span ng-show="Request.Email.$dirty  && Request.Email.$invalid"><h4><b><p style="color:red">
					Enter valid Email</p></b></h4></span></td>
			</tr>

			<tr>
			  <td>Mobile Number</td>
			  <td> <input type="text"  class="input100" name="Mobile"
					required ng-model="Mobile"></td>
			  <td><span ng-show="Request.Mobile.$dirty && Request.Mobile.$invalid"><h4><b><p style="color:red">Enter valid Mobile number</p></b></h4></span>  </td>
			</tr>

			<tr>
			  <td>UG_PG:</td>
			   <td> <input type="text"  style="background:#dddddd;" class="input100"  name="UG_PG"  value="<%= data.UG_PG %>" disabled></td>
			   <td></td>
			</tr>

			<tr>
			  <td>Branch:</td>
			  <td> <input type="text" style="background:#dddddd;"  class="input100" name="Branch"  disabled value="<%= data.Branch %>"></td>
			  <td></td>
			</tr>

			<tr>
			  <td>Year :</td>
			  <td>
			  <select  name="Year"  ng-model="Year" class="input100" required>
			  <option value="Select Year">Select Year</option>
			  <option value="First">First</option>
			  <option value="Second">Second</option>
			  <option value="Third">Third</option>
			  <option value="Fourth">Fourth</option>
			  </select>
			</td>
			<td></td>
			</tr>

			<tr>
			  <td>CGPA:</td>
			  <td> <input type="text"  class="input100"  placeholder="" name="CGPA"  ng-model="CGPA" required></td>
			  <td></td>
			</tr>

			<tr>
			  <td>Backlog :</td>
			  <td >
			  <select  name="Backlog"  ng-model="Backlog" class="input100" required >
			   <option value="Yes">Yes</option>
			   <option value="No">No</option>
			  </select>
			</td>
			<td></td>
			</tr>

			<tr rowspan=2>
			  <td>Disciplinary Action<br> taken against You:</td>
			  <td><input type="text" style="background:#dddddd;" class="input100" name="D_A"
					 value="<%= data.disciplinary %>" disabled></td>
			  <td></td>
			</tr>

			<tr>
			  <td></td>
			  <td style="width:30%"><button  style="width:70%; background-color: #4CAF50; color:white; "
			    type="submit" class="button"><h3 style="font-size:25px; font-family: calibri;">Update </h3></button></td>
			  <td></td>
			  </tr>

			</table>
			</form>
			</div>
			<div ng-controller="ViewAchievements" ng-if="ViewAchievements" style="padding:10px 10px 10px 40px">
			<h2><u>View Achievements</u></h2><br>
			<h3>Participation</h3><br>
	      <table class="ViewAchievements" style="width:95%;">
	          <th style= "width:25%;">Activity Name</th><th style= "width:13%;">Activity Type</th>
	          <th style= "width:25%;">Activity Location</th><th style= "width:17%;">Activity Date</th>
	          <th style= "width:5%;">Consider For Certification</th><th style= "width:10%;">Society Associated</th>
	          <th style= "width:5%;">Marks Alloted</th>
						 <% for(var i=0; i < parti.length; i++) { %>
						<tr>
							<td ><input type="text" value="<%= parti[i].Activity_Name %>" class="input100"   required></td>
							<td ><input type="text" value="<%= parti[i].Activity_Type %>"       class="input100"  required></td>
							<td ><input type="text" value="<%= parti[i].Activity_Location %>"   class="input100"  required></td>
							<td ><input type="text" value="<%= parti[i].Activity_Date %>"       class="input100"   required></td>
							<td ><input type="text" value="<%= parti[i].Consider_for_certification %>"  class="input100"  ng-model="lt250" required></td>
							<td ><input type="text" value="<%= parti[i].Society_Name %>"  class="input100"  ng-model="lt250" required></td>
							<td ><input type="text" value="<%= parti[i].Marks %>"  class="input100"  ng-model="lt250" required></td>
						</tr>
						<% } %>
			  </table>

			  <br><h3>Achievement</h3><br>
				<table class="ViewAchievements" style="width:95%;" >
					<th style= "width:25%;">Activity Name</th><th style= "width:10%;">Activity Type</th>
					<th style= "width:23%;">Activity Location</th><th style= "width:17%;">Activity Date</th>
					<th style= "width:5%;">Consider For Certification</th><th style= "width:10%;">Society Associated</th>
					<th style= "width:5%;">Position</th>
					<th style= "width:5%;">Marks Alloted</th>
					<% for(var i=0; i < achi.length; i++) { %>
					<tr>
						<td ><input type="text"  value="<%= achi[i].Activity_Name %>" class="input100"   required></td>
						<td ><input type="text"  value="<%= achi[i].Activity_Type %>" class="input100"   required></td>
						<td ><input type="text"  value="<%= achi[i].Activity_Location %>" class="input100"   required></td>
						<td ><input type="text"  value="<%= achi[i].Activity_Date %>" class="input100"   required></td>
						<td ><input type="text"  value="<%= achi[i].Consider_for_certification %>" class="input100"  required></td>
						<td ><input type="text"   value="<%= achi[i].Society_Name %>" class="input100"  required></td>
							<td ><input type="text"  value="<%= achi[i].Achievement_Type %>" class="input100"  required></td>
						<td ><input type="text"value="<%= achi[i].Marks %>" class="input100"  required></td>
					</tr>
					<% } %>
				</table>

				<br><h3>Organizing</h3><br>
				<table class="ViewAchievements" style="width:95%;" >
					<th style= "width:25%;">Activity Name</th><th style= "width:13%;">Activity Type</th>
					<th style= "width:25%;">Activity Location</th><th style= "width:17%;">Activity Date</th>
					<th style= "width:5%;">Consider For Certification</th><th style= "width:10%;">Society Associated</th>
					<th style= "width:5%;">Marks Alloted</th>
					<% for(var i=0; i < organi.length; i++) { %>
					<tr>
						<td ><input type="text" value="<%= organi[i].Activity_Name %>"  class="input100"   required></td>
						<td ><input type="text" value="<%= organi[i].Activity_Type %>" class="input100"   required></td>
						<td ><input type="text" value="<%= organi[i].Activity_Location %>" class="input100"   required></td>
						<td ><input type="text" value="<%= organi[i].Activity_Date %>"             class="input100"   required></td>
						<td ><input type="text" value="<%= organi[i].Consider_for_certification %>"  class="input100"  required></td>
						<td ><input type="text" value="<%= organi[i].Society_Name %>" class="input100"  required></td>
						<td ><input type="text"  value="<%= organi[i].Marks %>" class="input100"  required></td>
					</tr>
					<% } %>
				</table>
			</div>

			<div ng-if="ViewMarks" ng-controller="View_marksc">
			<table class="ViewAchievements" style="border:0px">
				<th style="border:0px" >Society :</th>
		  	<th style="border:0px">
		  		<select   id="Society" name="Society" ng-model="Society" class="input100" required>
					  <option value="ATS">Aerospace Technical Society (ATS)</option>
					  <option value="ASCE">American Society of Civil Engineers (ASCE)</option>
					  <option value="ACM_CSS">ACM CSS</option>
					  <option value="IIM">Indian Institute of Metals (IIM)</option>
					  <option value="ASPS">Astronomy and Space Physics Society (ASPS)</option>
					  <option value="IEEE">Institute of Electronics and Electrical Engineers (IEEE)</option>
					  <option value="IETE">The Institution of Electronics and Telecommunication Engineers(IETE)</option>
					  <option value="SAE">Society of Automotive Engineers (SAE)</option>
					  <option value="SME">Society of Manufacturing Engineers (SME)</option>
					  <option value="SESI">Solar Energy Society of India (SESI)</option>
					  <option value="RE">Robotics Society</option>
					  <option value="ASME">American Society of Mechanical Engineers (ASME)</option>
					  <option value="APC">Art and Photography Club</option>
					  <option value="MC">Music Club</option>
					  <option value="DC">Dramatics Club</option>
					  <option value="SAASC">Speakers Association & Study Circle (SAASC)</option>
					  <option value="PDC">Production and Design Club</option>
					  <option value="RC">Rotaract Club</option>
					  <option value="CIMC">Communication, Information & Media Cell</option>
					  <option value="EED">English Editorial Board</option>
					  <option value="EIC">Entrepreneurship & Incubation Cell</option>
					  <option value="HED">Hindi Editorial Board</option>
					  <option value="PED">Punjabi Editorial Board</option>
					  <option value="SCC">Student Counselling Cell</option>
			  </select></th >
			<th style="width:30%;border:0px"><button   ng-click="test()" style="width:70%; background-color: #4CAF50; color:white; " type="submit" class="button">
				<h3 style="font-size:25px; font-family: calibri;">Display Marks </h3></button></th>
		</table>

							<div class="grid-container"   >
							 	<div class="grid-item">
							  	<table class="ViewAchievements" style="width:90%;">
										<h3>First Year Marks</h3>
										<th style= "width:25%;">Participation</th>
										<th style= "width:25%;">Organizing</th>
										<th style= "width:25%;">Achievement</th>
										<tr>
											<td ><input type="text"  name="lt250"    value="{{marks.P1}}"   class="input100"   disabled></td>
											<td ><input type="text"  name="lt250"    value="{{marks.O1}}"   class="input100"   disabled></td>
											<td ><input type="text"  name="lt250"    value="{{marks.A1}}"   class="input100"   disabled></td>
										</tr>
							  </table>
							  </div>

							  <div class="grid-item">
									<table class="ViewAchievements" style="width:90%;">
										<h3>Second Year Marks</h3>
											<th style= "width:25%;">Participation</th>
											<th style= "width:25%;">Organizing</th>
											<th style= "width:25%;">Achievement</th>
											<tr>
													<td ><input type="text"  name="lt250"    value="{{marks.P2}}"   class="input100"   disabled></td>
													<td ><input type="text"  name="lt250"    value="{{marks.O2}}"   class="input100"   disabled></td>
													<td ><input type="text"  name="lt250"    value="{{marks.A2}}"   class="input100"   disabled></td>
											</tr>
									</table>
							  </div>

							  <div class="grid-item">
									<table class="ViewAchievements" style="width:90%;">
											<h3>Third Year Marks</h3>
												<th style= "width:25%;">Participation</th>
												<th style= "width:25%;">Organizing</th>
												<th style= "width:25%;">Achievement</th>
												<tr>
														<td ><input type="text"  name="lt250"    value="{{marks.P3}}"   class="input100"   disabled></td>
														<td ><input type="text"  name="lt250"    value="{{marks.O3}}"   class="input100"   disabled></td>
														<td ><input type="text"  name="lt250"    value="{{marks.A3}}"   class="input100"   disabled></td>
												</tr>
										</table>
							  </div>

							  <div class="grid-item">
									<table class="ViewAchievements" style="width:90%;" >
											<h4>Fourth Year Marks</h4>
												<th style= "width:25%;">Participation</th>
												<th style= "width:25%;">Organizing</th>
												<th style= "width:25%;">Achievement</th>
												<tr>
														<td ><input type="text"  name="lt250"    value="{{marks.P4}}"   class="input100"   disabled></td>
														<td ><input type="text"  name="lt250"    value="{{marks.O4}}"   class="input100"   disabled></td>
														<td ><input type="text"  name="lt250"    value="{{marks.A4}}"   class="input100"   disabled></td>
												</tr>
										</table>
							  </div>
						</div>
						<table class="ViewAchievements" style="width:50%;text-align:center; margin-left:auto;
    margin-right:auto;" >
								<h4 style="text-align:center;">Cumulative Marks </h4>
									<th style= "width:25%;">Participation</th>
									<th style= "width:25%;">Organizing</th>
									<th style= "width:25%;">Achievement</th>
									<tr>
											<td ><input type="text"  name="lt250"    value="{{marks.P4+marks.P1+marks.P2+marks.P3}}"   class="input100"   disabled></td>
											<td ><input type="text"  name="lt250"    value="{{marks.O1+marks.O2+marks.O3+marks.O4}}"   class="input100"   disabled></td>
											<td ><input type="text " name="lt250"    value="{{marks.A1+marks.A2+marks.A3+marks.A4}}"   class="input100"   disabled></td>
									</tr>
							</table>
	</div>

		<div ng-if="RequestInitiation" style="padding:10px 10px 10px 40px">
			<h2 ><u>Request Initiation Form </u></h2>
			<h3 style="font-size:25px; font-family: calibri;">
			<form  name="Request" ng-model="Request" action="/RequestInitiation" method="POST" enctype="multipart/form-data">
			<table style="width:70%; margin-left:10%" >
				<tr>
			  <td style="width:40%">Event Name :</td>
			  <td style="width:30%"> <input type="text"  class="input100"  placeholder="Enter Event Name" name="Event_Name"  ng-model="Event_Name" required></td>
			  <td style="width:20%"><span ng-show="Request.Event_name.$touched && Request.Event_name.$invalid"><h4><b><p style="color:red">Event Name is required.</p></b></h4></span></td>
			  </tr>

			  <tr>
			  <td style="width:30%">Event Location :</td>
			  <td style="width:30%"><input type="text"  name="Event_Location"  class="input100" placeholder="Enter Event Location" ng-model="Event_Location" required></td>
			  <td style="width:40%"><span ng-show="Request.Event_Location.$touched && Request.Event_Location.$invalid"><h4><b><p style="color:red">Event Location required</p></b></h4></span>     </td>
			  </tr>

			  <tr>
			  <td style="width:30%">Event Date :</td>
			  <td style="width:30%"><input type="date"   name="Event_Date"   class="input100" ng-model="Event_Date" required></td>
			  <td style="width:40%"><span ng-show="Request.Event_Date.$touched && Request.Event_Date.$invalid"><h4><b><p style="color:red">Event Date required</p></b></h4></span>   </td>
			  </tr>

			  <tr>
			  <td style="width:30%">Achievement Type :</td>
			  <td style="width:30%">
			    <select name="Achievement" ng-model="Achievement"   class="input100" required >
			      <option value="Participation">Participation</option>
			      <option value="First">First Prize</option>
			      <option value="Second">Second Prize</option>
			      <option vlaue="Third">Third Prize</option>
			      <option value="Fourth">Consolation Prize</option>
			    </select>
			  <td style="width:40%"><span ng-show="Request.Achievement.$touched && Request.Achievement.$invalid"><h4><b><p style="color:red">Achievement Type is required.</p></b></h4></span>  </td>
			  </tr>


				<tr>
				<td style="width:30%">Institute Type :</td>
				<td style="width:30%">
					<select name="Institute_Type" ng-model="Institute_Type"   class="input100" required >
						<option   value="International">International</option>
						<option  value="National_P">National Premier Institutes</option>
						<option  value="National_NP">National Non-Premier Institutes</option>

						</select>
				<td style="width:40%"><span ng-show="Request.in.$touched && Request.in.$invalid"><h4><b><p style="color:red">Achievement Type is required.</p></b></h4></span>  </td>
				</tr>



			  <tr>
			  <td style="width:30%">Society  Assocaited :</td>
			  <td style="width:30%">
			    <select name="Society" ng-model="Society" class="input100" required>
			    <option value="ATS">Aerospace Technical Society (ATS)</option>
			    <option value="ASCE">American Society of Civil Engineers (ASCE)</option>
			    <option value="ACM_CSS">ACM CSS</option>
			    <option value="IIM">Indian Institute of Metals (IIM)</option>
			    <option value="ASPS">Astronomy and Space Physics Society (ASPS)</option>
			    <option value="IEEE">Institute of Electronics and Electrical Engineers (IEEE)</option>
			    <option value="IETE">The Institution of Electronics and Telecommunication Engineers(IETE)</option>
			    <option value="SAE">Society of Automotive Engineers (SAE)</option>
			    <option value="SME">Society of Manufacturing Engineers (SME)</option>
			    <option value="SESI">Solar Energy Society of India (SESI)</option>
			    <option value="RE">Robotics Society</option>
			    <option value="ASME">American Society of Mechanical Engineers (ASME)</option>
			    <option value="APC">Art and Photography Club (APC)</option>
			    <option value="MC">Music Club</option>
			    <option value="DC">Dramatics Club</option>
			    <option value="SAASC">Speakers Association & Study Circle (SAASC)</option>
			    <option value="PDC">Production and Design Club (PDC)</option>
			    <option value="RC">Rotaract Club</option>
			    <option value="CIMC">Communication, Information & Media Cell (CIM)</option>
			    <option value="EED">English Editorial Board (EEB)</option>
			    <option value="EIC">Entrepreneurship & Incubation Cell (EIC)</option>
			    <option value="HED">Hindi Editorial Board</option>
			    <option value="PED">Punjabi Editorial Board (PEB)</option>
			    <option value="SCC">Student Counselling Cell (SCC)</option>
			    </select>
			  <td style="width:40%"><span ng-show="Request.Society.$touched && Request.Society.$invalid"><b><p style="color:red">Society Associated is required.</p></b></span>  </td>
			</tr>

			  <tr>
			  <td style="width:30%">Upload Certificate :</td>
			  <td style="width:30%"><input type="file" name="Certificate"  class="input100"  ng-model="Certificate" accept="image/*" required></td>
			  <td style="width:40%"></td>
			  </tr>
			<tr>
			<td style="width:30%"</td>
			<td style="width:30%"><button style="width:70%; background-color: #4CAF50; color:white; " type="submit" class="button"><h3 style="font-size:25px; font-family: calibri;">Submit Request </h3></button></td>
			</tr>
			</table>
			</form>
			</div>
	</div>
	<script>

	  var myApp = angular.module('Studentprofile', []);
	 	myApp.controller('View_marksc', function($scope, $http){
	   $scope.test = function(){
     var x=angular.element(document.getElementById("Society"));
  	 var y=x.val();
  	var path="http://localhost:3000/View_Marks/"+y;
   	$http({
					     method: 'get',
					     url: path,
							 responseType:'json'
					 }).then(function (response) {
					     $scope.marks = response.data;
						 },function (error){
					     console.log(error, 'can not get data.');
					 });
       }
        });




	 </script>
</body>
</html>
